# Classification of Leukaemia by Gene Expression

## Import Libraries

In [97]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import re
import seaborn as sns

## Import Data

In [98]:
# Training Dataset
training_data = pd.read_csv('Data/data_set_ALL_AML_train.csv')
training_data.head()

#training_data.shape
# output: (7129, 78)

,Gene Description,Gene Accession Number,1,call,2,call.1,3,call.2,4,call.3,...,29,call.33,30,call.34,31,call.35,32,call.36,33,call.37
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-214,A,-139,A,-76,A,-135,A,...,15,A,-318,A,-32,A,-124,A,-135,A
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-153,A,-73,A,-49,A,-114,A,...,-114,A,-192,A,-49,A,-79,A,-186,A
2,AFFX-BioB-3_at (endogenous control),AFFX-BioB-3_at,-58,A,-1,A,-307,A,265,A,...,2,A,-95,A,49,A,-37,A,-70,A
3,AFFX-BioC-5_at (endogenous control),AFFX-BioC-5_at,88,A,283,A,309,A,12,A,...,193,A,312,A,230,P,330,A,337,A
4,AFFX-BioC-3_at (endogenous control),AFFX-BioC-3_at,-295,A,-264,A,-376,A,-419,A,...,-51,A,-139,A,-367,A,-188,A,-407,A

In [99]:
# Labels for the Training Set
labels = pd.read_csv('Data/actual.csv', index_col='patient')
labels.head()

#labels.shape
# output: (72, 1)

        cancer
patient
1          ALL
2          ALL
3          ALL
4          ALL
5          ALL

In [100]:
# Test Dataset
test_data = pd.read_csv('Data/data_set_ALL_AML_independent.csv')
test_data.head()

#test_data.shape
# output: (7129, 70)

,Gene Description,Gene Accession Number,39,call,40,call.1,42,call.2,47,call.3,...,65,call.29,66,call.30,63,call.31,64,call.32,62,call.33
0,AFFX-BioB-5_at (endogenous control),AFFX-BioB-5_at,-342,A,-87,A,22,A,-243,A,...,-62,A,-58,A,-161,A,-48,A,-176,A
1,AFFX-BioB-M_at (endogenous control),AFFX-BioB-M_at,-200,A,-248,A,-153,A,-218,A,...,-198,A,-217,A,-215,A,-531,A,-284,A
2,AFFX-BioB-3_at (endogenous control),AFFX-BioB-3_at,41,A,262,A,17,A,-163,A,...,-5,A,63,A,-46,A,-124,A,-81,A
3,AFFX-BioC-5_at (endogenous control),AFFX-BioC-5_at,328,A,295,A,276,A,182,A,...,141,A,95,A,146,A,431,A,9,A
4,AFFX-BioC-3_at (endogenous control),AFFX-BioC-3_at,-224,A,-226,A,-211,A,-289,A,...,-256,A,-191,A,-172,A,-496,A,-294,A

In [ ]:
## Data Exploration

## Data Cleaning

In [101]:
# extraction of the call columns
test_call = test_data[[col for col in test_data.columns if 'call' in col]]
train_call = training_data[[col for col in training_data.columns if 'call' in col]]

# drop call columns from orginal datasets
test_data.drop([col for col in test_data.columns if 'call' in col], 
               axis=1, 
               inplace=True)
training_data.drop([col for col in training_data.columns if 'call' in col],
                  axis=1,
                  inplace=True)

train_call.head()

,call,call.1,call.2,call.3,call.4,call.5,call.6,call.7,call.8,call.9,...,call.28,call.29,call.30,call.31,call.32,call.33,call.34,call.35,call.36,call.37
0,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
1,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
2,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3,A,A,A,A,A,A,A,A,A,M,...,A,A,A,P,A,A,A,P,A,A
4,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A

In [102]:
test_call.head()

,call,call.1,call.2,call.3,call.4,call.5,call.6,call.7,call.8,call.9,...,call.24,call.25,call.26,call.27,call.28,call.29,call.30,call.31,call.32,call.33
0,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
1,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
2,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
3,A,A,A,A,A,A,A,A,A,A,...,P,A,A,A,A,A,A,A,A,A
4,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A

In [103]:
# Convert the Strings to Integers
call_map = {'A':0,
           'P':1,
           'M':2}

train_call = train_call.replace(call_map)
test_call = test_call.replace(call_map)

train_call.head()

,call,call.1,call.2,call.3,call.4,call.5,call.6,call.7,call.8,call.9,...,call.28,call.29,call.30,call.31,call.32,call.33,call.34,call.35,call.36,call.37
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,2,...,0,0,0,1,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [104]:
test_call.head()

,call,call.1,call.2,call.3,call.4,call.5,call.6,call.7,call.8,call.9,...,call.24,call.25,call.26,call.27,call.28,call.29,call.30,call.31,call.32,call.33
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [105]:
# Change row and columns names
train_rownames = "Call" + training_data.iloc[:,1]
train_call.index = train_rownames

test_rownames = "Call" + test_data.iloc[:,1]
test_call.index = test_rownames

ids_train = list(training_data.columns[2:])
ids_test = list(test_data.columns[2:])

train_call.columns = ids_train
test_call.columns = ids_test

train_call.head()

,1,2,3,4,5,6,7,8,9,10,...,35,36,37,38,28,29,30,31,32,33
Gene Accession Number,,,,,,,,,,,,,,,,,,,,,
CallAFFX-BioB-5_at,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CallAFFX-BioB-M_at,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CallAFFX-BioB-3_at,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CallAFFX-BioC-5_at,0,0,0,0,0,0,0,0,0,2,...,0,0,0,1,0,0,0,1,0,0
CallAFFX-BioC-3_at,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
test_call.head()

,39,40,42,47,48,49,41,43,44,45,...,54,57,58,60,61,65,66,63,64,62
Gene Accession Number,,,,,,,,,,,,,,,,,,,,,
CallAFFX-BioB-5_at,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CallAFFX-BioB-M_at,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CallAFFX-BioB-3_at,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CallAFFX-BioC-5_at,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
CallAFFX-BioC-3_at,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
# Transpose the data
train_call = train_call.T
train_call.head()

test_call = test_call.T
test_call.head()

Gene Accession Number,CallAFFX-BioB-5_at,CallAFFX-BioB-M_at,CallAFFX-BioB-3_at,CallAFFX-BioC-5_at,CallAFFX-BioC-3_at,CallAFFX-BioDn-5_at,CallAFFX-BioDn-3_at,CallAFFX-CreX-5_at,CallAFFX-CreX-3_at,CallAFFX-BioB-5_st,...,CallU48730_at,CallU58516_at,CallU73738_at,CallX06956_at,CallX16699_at,CallX83863_at,CallZ17240_at,CallL49218_f_at,CallM71243_f_at,CallZ78285_f_at
39,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,1,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
48,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [117]:
# CREATE Y VARIABLES

# convert ids into intergers
train_ids = train_call.index
train_ids = list(map(int, train_ids))

test_ids = test_call.index
test_ids = list(map(int, test_ids))


# create label dfs for train and test data
train_labels = []
test_labels = []

for i in train_ids:
    train_labels.append(labels.iloc[i-1,0])
    
for i in test_ids:
    test_labels.append(labels.iloc[i-1,0])
    
train_labels = pd.concat([pd.DataFrame(train_ids), pd.DataFrame(train_labels)], 
                         axis=1, 
                         ignore_index=False)
train_labels.columns = ['patient', 'cancer']

test_labels = pd.concat([pd.DataFrame(test_ids), pd.DataFrame(test_labels)],
                       axis=1,
                       ignore_index=False)
test_labels.columns = ['patient', 'cancer']

# extract the labels for the y variables
y_train = train_labels.iloc[:,1]
y_test = test_labels.iloc[:,1]

# turn strings to integers
y_map = {'ALL':0, 'AML':1}

y_train = y_train.replace(y_map)
y_train = list(y_train)

y_test = y_test.replace(y_map)
y_test = list(y_test)

In [121]:
# CREATE X VARIABLES
gene_names = training_data.iloc[:,1]

x_train = training_data.iloc[:,2:]
x_train = x_train.T
x_train.columns = gene_names
x_train.index = train_ids

x_test = test_data.iloc[:,2:]
x_test = x_test.T
x_test.columns = gene_names
x_test.index = test_ids

#x_train.head()
#x_test.head()

Gene Accession Number,AFFX-BioB-5_at,AFFX-BioB-M_at,AFFX-BioB-3_at,AFFX-BioC-5_at,AFFX-BioC-3_at,AFFX-BioDn-5_at,AFFX-BioDn-3_at,AFFX-CreX-5_at,AFFX-CreX-3_at,AFFX-BioB-5_st,...,U48730_at,U58516_at,U73738_at,X06956_at,X16699_at,X83863_at,Z17240_at,L49218_f_at,M71243_f_at,Z78285_f_at
1,-214,-153,-58,88,-295,-558,199,-176,252,206,...,185,511,-125,389,-37,793,329,36,191,-37
2,-139,-73,-1,283,-264,-400,-330,-168,101,74,...,169,837,-36,442,-17,782,295,11,76,-14
3,-76,-49,-307,309,-376,-650,33,-367,206,-215,...,315,1199,33,168,52,1138,777,41,228,-41
4,-135,-114,265,12,-419,-585,158,-253,49,31,...,240,835,218,174,-110,627,170,-50,126,-91
5,-106,-125,-76,168,-230,-284,4,-122,70,252,...,156,649,57,504,-26,250,314,14,56,-25

### Distribution of Call Values

The distribution for the Absent (A) genes are heavily skewed.
### Distribution of Classes

The classes are very imbalanced.